.wrapper {
  margin: 0 auto;
}
.close-menu {
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 20px;
  width: 16px;
  height: 16px;

  .span1 {
    width: 100%;
    height: 1.5px;
    background: #4C4B4C;
    display: block;
    -webkit-transform: rotate(-45deg) translate(-7px, 7px);
    -ms-transform: rotate(-45deg) translate(-7px, 7px);
    transform: rotate(-45deg) translate(-7px, 7px);
  }

  .span2 {
    width: 100%;
    height: 1.5px;
    background: #4C4B4C;
    display: block;
    -webkit-transform: rotate(45deg) translate(6px, 5px);
    -ms-transform: rotate(45deg) translate(6px, 5px);
    transform: rotate(45deg) translate(6px, 5px);
  }

}
.mobile-menu {
  display: flex;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -80%;
  opacity: 0;
  width: 80%;
  height: 100vh;
  background: #fff;
  z-index: 999;

  &.show {
    left: 0;
    opacity: 1;
  }

  .wrap {
    padding: 30px;
    height: 100vh;
    position: relative;

    .mobile-logo {
      margin-bottom: 37px;

      img {
        width: 68px;
      }
    }

    .menu,
    .sub-menu {
      list-style: none;

      li {
        margin-bottom: 30px;

        &.menu-item-has-children {
          display: flex;
          flex-direction: column;

          &:hover .sub-menu {
            display: block;
          }

          > a {
            display: inline-block;

            &::after {
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: "\f078";
              width: 25.41px;
              height: 24.2px;
              display: inline-block;
              margin-left: 15px;
              cursor: pointer;
            }
          }
        }

        &.work-with-us {
          background: linear-gradient(90.99deg, #B3B9DC 1.7%, #FDB9B9 96.88%);
          height: 48px;
          width: 181px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          font-size: 14px;
          line-height: 140.4%;
          letter-spacing: 0.09em;
          position: absolute;
          bottom: 20px;

          a {
            font-weight: bold;
            font-size: 14px;
            line-height: 140.4%;
            letter-spacing: 0.09em;
          }
        }

        a {
          font-family: Raleway;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0.08em;
          text-transform: uppercase;
          color: #4C4B4C;
          text-decoration: none;
          display: block;
        }
      }
    }

    .sub-menu {
      margin-top: 30px;
      display: none;
      padding-left: 30px;
    }
  }

}

header {
  .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1922px;
    margin: auto;
  }

  .desktop-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 31px 0;

    .toggle {
      display: none;
      width: 36px;
      height: 36px;
      flex-wrap: wrap;
      align-items: center;

      span {
        width: 100%;
        height: 1.5px;
        background: #4C4B4C;
        display: block;
       /* -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;

        &.change.span1 {
          -webkit-transform: rotate(-45deg) translate(-8px, 7px);
          -ms-transform: rotate(-45deg) translate(-8px, 7px);
          transform: rotate(-45deg) translate(-8px, 7px);
        }

        &.change.span2 {opacity: 0;}

        &.change.span3 {
          -webkit-transform: rotate(45deg) translate(-8px, -9px);
          -ms-transform: rotate(45deg) translate(-8px, -9px);
          transform: rotate(45deg) translate(-8px, -9px);
        }*/
      }
    }

    ul.menu {
      list-style: none;
      display: flex;
      align-items: center;

      li {
        padding-right: 50px;

        &.menu-item-has-children {
          position: relative;

          &::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f078";
            width: 25.41px;
            height: 24.2px;
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
          }

          .sub-menu {
            list-style: none;
            padding-left: 30px;
            padding-top: 16px;
            position: absolute;
            width: 100%;
            display: none;

            li {
              margin-bottom: 15px;
            }
          }

          &:hover .sub-menu {
            display: block;
          }
        }

        a {
          text-decoration: none;
          font-family: Raleway;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          color: #4C4B4C;
          letter-spacing: 0.08em;
          text-transform: uppercase;
        }

        &.work-with-us {
          padding-right: 0;
          a {
            background: linear-gradient(90.99deg, #B3B9DC 1.7%, #FDB9B9 96.88%);
            border-radius: 59px;
            padding: 16px 25px;
            font-weight: $font-bold;
          }
        }
      }
    }

    .desktop-logo {
      margin: 0 40px;

      a {
        display: block;

        img {
          width: 100%;
        }
      }
    }

    .newsletter-popup {
      display: none;
      border-radius: 50%;
      border: 2px solid #4C4B4C;
      padding: 10px;
    }
  }



  &::after {
    content: "";
    background: #4C4B4C;
    height: 1px;
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  header {
    .desktop-menu {
      width: 100%;
      justify-content: space-around;
      padding: 10px 0;

      .menu-main-menu-left-container,
      .menu-main-menu-right-container {
        display: none;
      }

      .desktop-logo a img {
        width: 60px;
      }

      .toggle,
      .newsletter-popup {
        display: flex;
      }
    }
    .mobile-menu {

      ul.menu {
        list-style: none;
        display: flex;
        flex-direction: column;
      }
    }

    &:after {
      content: "";
      height: 0;
    }
  }
}